@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Figtree", sans-serif;
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
  display: block;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .about-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .end {
    flex-direction: column;
  }
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
}
@media screen and (max-width: 500px) {
  main {
    margin: 2% 8%;
  }
  .end {
    gap: 1rem;
    margin: 4% 8%;
  }
  .links {
    gap: 1rem;
  }
  header h1 {
    font-size: 5rem;
  }
  main .about-container p {
    font-size: 2rem
  }
}
@media screen and (min-width: 500px) {
  main, .end {
    margin: 2% 12%;
  }
  header h1 {
    font-size: 7rem;
  }
main .about-container p {
    font-size: 1.3rem
}
}


h4 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}
h4::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 85%;
  height: 0.3rem;
  background: linear-gradient(to right, #000, transparent);
  border-radius: 0.4rem;
}

header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
header h1 {
  display: block;
  color: #000000;
  font-weight: 700;
  letter-spacing: 1rem;
}
header h3 {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6862745098);
}

main div {
  text-align: center;
}
main .about-container {
  display: flex;
  gap: 2rem;
}
main .about-container .img img {
  width: 25rem;
  height: 25rem;
  border-radius: 1000rem;
  -o-object-fit: fill;
     object-fit: fill;
}
main .about-container p {
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.6862745098);
  text-align: left;
}

.end {
  display: flex;
  gap: 4rem;
}
.end .skills {
  display: flex;
  flex-direction: column;
}
.end .skills .head {
  margin-bottom: 1rem;
}
.end .skills .skill-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.end .skills .skill-list .list {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: left;
}
.end .skills .skill-list .list label {
  font-size: 2rem;
}
.end .skills .skill-list .list progress {
  width: 20rem;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #f1f1f1;
}
.end .skills .skill-list .list progress::-webkit-progress-bar {
  background-color: #f1f1f1;
  border-radius: 5px;
}
.end .skills .skill-list .list progress::-webkit-progress-value {
  background-color: rgba(63, 62, 62, 0.6156862745);
  border-radius: 5px;
}
.end .contact {
  display: flex;
  flex-direction: column;
}
.end .contact .head {
  margin-bottom: 1rem;
}
.end .contact .head h6 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  color: rgba(0, 0, 0, 0.6862745098);
  margin-bottom: 1.2rem;
}
.end .contact .head p {
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  line-height: 1.5rem;
}
.end .contact .links {
  display: flex;
  align-items: stretch;
  gap: 2rem;
}
.end .contact .links .link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.end .contact .links .link i {
  font-size: 2.5rem;
}
.end .contact .links .link a {
  text-decoration: none;
}
.end .contact .links .link a p {
  font-size: 1.2rem;
}
.end .contact .links .link p {
  font-size: 1.2rem;
}/*# sourceMappingURL=style.css.map */
