.timeline {
  margin: 4% 14%;

  &__container {
    background-color: $bg-white;
    padding: 3rem 5rem;
    border-radius: 1.2rem;

    &__header {
      text-align: left;
      margin-bottom: 1rem;

      & h3 {
        font-size: 4rem;
        color: $text-blue;
        text-decoration: underline;
      }
    }

    &__items {
      margin: 2% 5%;

      & ul {
        & li {
          & ul {
            margin: 2% 4%;
          }
        }
      }
    }
  }
}
