.gallery__container {
  margin: 5rem 0;

  &__header {
    text-align: center;

    font-size: 4.5rem;
    color: $red;
  }

  &__grid {
    padding: 5% 8% 0;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

      &__items {
      border-bottom: 0.5rem solid $red;

        & img{
            width: 60rem;
        }
    }
  }
}
